@framework:registry=http://111.111.11:11
@instrumentary:registry=http://111.111.11:11
@library:registry=http://111.111.11:11
@data:registry=http://111.111.11:11
@vm:registry=http://111.111.11:11
//111.111.11:11/:_authToken = "Dfdsgaerfgergbq"